body {
    width: 50%;
    margin: 10px auto;
    font: 16px "Poppins", Arial, sans-serif;
    line-height: 30px;
    font-weight: 200;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding: 40px 40px 40px 40px;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    padding-bottom: 20px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    display: inline-block;
    padding: 20px 0;
}

.my-github-link {
    color: blue;
}

.rs-school-link {
    color: blue;
}

.github-logo {
    width: 100px;
    height: 50px;
}

.rs-school-logo {
    width: 50px;
    height: 100px;
}

